params {
    outdir = "output/"
    enable_conda = false
    singularity_pull_docker_container = false
    publish_dir_mode = 'copy'
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.userEmulation = true
    docker.registry = 'quay.io'
    docker.runOptions = "--platform linux/x86_64"
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

manifest {
    nextflowVersion = '!>=22.04.0'
}
